@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overscroll-behavior: none;
  overflow-x: hidden; /* Блокируем горизонтальный скролл */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw; /* Ограничиваем ширину */
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.43px;
  font-family: "Proxima Nova", sans-serif;
  background: linear-gradient(180deg, rgb(174, 174, 174) 0%, rgb(191, 191, 189) 9%, rgb(226, 225, 224) 31%, rgb(225, 222, 221) 51%, rgb(231, 229, 228) 69%, rgb(231, 229, 228) 86%);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 5px;
}

div {
  line-height: 0.875em;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?fijhyo");
  src: url("../fonts/icomoon.eot?fijhyo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fijhyo") format("truetype"), url("../fonts/icomoon.woff?fijhyo") format("woff"), url("../fonts/icomoon.svg?fijhyo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat1:before {
  content: "\e904";
}

.icon-cat2:before {
  content: "\e907";
}

.icon-Heeyysexy:before {
  content: "\e908";
  color: #fff;
}

.icon-Nice-work:before {
  content: "\e909";
}

.icon-Your-location-is-colored:before {
  content: "\e90a";
}

.icon-Good-news:before {
  content: "\e905";
  color: #fff;
}

.icon-insider-news:before {
  content: "\e906";
  color: #fff;
}

.icon-whats-up-out-there:before {
  content: "\e903";
  color: #fff;
}

.icon-news:before {
  content: "\e900";
}

.icon-profile:before {
  content: "\e901";
}

.icon-raiting:before {
  content: "\e902";
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
  max-height: 100dvh;
}

[class*=__container] {
  max-width: 95vw;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  /*MOBILE*/
  [class*=__container] {
    max-width: none;
  }
}
.body__backblur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

body {
  transition: 0.3s;
}
body.liteBlur {
  opacity: 0;
}
body.notPointer {
  pointer-events: none;
}

button,
.button {
  opacity: 0.8;
  transition: 0.3s;
}
button:hover,
.button:hover {
  opacity: 1;
}

picture {
  position: relative;
}

.scrollbar_hidden::-webkit-scrollbar {
  width: 0px;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.copyAllert.active {
  opacity: 1 !important;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_black.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_black.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_black.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_black.woff") format("woff"), url("../fonts/proxima/proxima_nova_black.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_black.svg#proxima_nova_black") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_black_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_black_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_black_italic.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_black_italic.woff") format("woff"), url("../fonts/proxima/proxima_nova_black_italic.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_black_italic.svg#proxima_nova_black_italic") format("svg"); /* Chrome < 4, Legacy iOS */
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima/proxima_nova_bold.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_bold.svg#proxima_nova_bold") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_bold_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_bold_italic.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_bold_italic.woff") format("woff"), url("../fonts/proxima/proxima_nova_bold_italic.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_bold_italic.svg#proxima_nova_bold_italic") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_condensed_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_condensed_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_condensed_regular.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_condensed_regular.woff") format("woff"), url("../fonts/proxima/proxima_nova_condensed_regular.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_condensed_regular.svg#proxima_nova_condensed_regular") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_condensed_regular_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_condensed_regular_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_condensed_regular_italic.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_condensed_regular_italic.woff") format("woff"), url("../fonts/proxima/proxima_nova_condensed_regular_italic.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_condensed_regular_italic.svg#proxima_nova_condensed_regular_italic") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_condensed_semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_condensed_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_condensed_semibold.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_condensed_semibold.woff") format("woff"), url("../fonts/proxima/proxima_nova_condensed_semibold.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_condensed_semibold.svg#proxima_nova_condensed_semibold") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima/proxima_nova_condensed_semibold_italic.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima/proxima_nova_condensed_semibold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proxima_nova_condensed_semibold_italic.woff2") format("woff2"), url("../fonts/proxima/proxima_nova_condensed_semibold_italic.woff") format("woff"), url("../fonts/proxima/proxima_nova_condensed_semibold_italic.ttf") format("truetype"), url("../fonts/proxima/proxima_nova_condensed_semibold_italic.svg#proxima_nova_condensed_semibold_italic") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 600;
  font-style: italic;
}