@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_black.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_black.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_black.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_black.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_black.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/proxima/proxima_nova_black.svg#proxima_nova_black')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_black_italic.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_black_italic.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_black_italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_black_italic.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_black_italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_black_italic.svg#proxima_nova_black_italic')
            format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_bold.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_bold.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */ url('../fonts/proxima/proxima_nova_bold.ttf')
            format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/proxima/proxima_nova_bold.svg#proxima_nova_bold')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_bold_italic.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_bold_italic.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_bold_italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_bold_italic.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_bold_italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_bold_italic.svg#proxima_nova_bold_italic')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_condensed_regular.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_condensed_regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_condensed_regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_condensed_regular.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_condensed_regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_condensed_regular.svg#proxima_nova_condensed_regular')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_condensed_regular_italic.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_condensed_regular_italic.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_condensed_regular_italic.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../fonts/proxima/proxima_nova_condensed_regular_italic.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_condensed_regular_italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_condensed_regular_italic.svg#proxima_nova_condensed_regular_italic')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_condensed_semibold.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_condensed_semibold.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_condensed_semibold.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/proxima/proxima_nova_condensed_semibold.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_condensed_semibold.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_condensed_semibold.svg#proxima_nova_condensed_semibold')
            format('svg'); /* Chrome < 4, Legacy iOS */

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/proxima_nova_condensed_semibold_italic.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../fonts/proxima/proxima_nova_condensed_semibold_italic.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */ url('../fonts/proxima/proxima_nova_condensed_semibold_italic.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../fonts/proxima/proxima_nova_condensed_semibold_italic.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../fonts/proxima/proxima_nova_condensed_semibold_italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/proxima/proxima_nova_condensed_semibold_italic.svg#proxima_nova_condensed_semibold_italic')
            format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 600;
    font-style: italic;
}
